/* Typography & color */

body {
    font-family: Open Sans;
    font-weight: 400;
    color: #272b2e;
    background-image: linear-gradient(-45deg, #fef8e8, #f2be76, #fef8e8, #fef8e8, #f2be76);
}

.splashtitle {
    font-size: 70pt;
    color: #FFFFFF;
    -webkit-text-stroke: 2.5px 2.5px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.homesplashtitle {
    font-size: 70pt;
    color: #0f52ba;
    -webkit-text-stroke: 2px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h1 {
    font-family: Tangerine;
    font-size: 35pt;
    font-weight: 700;
    -webkit-text-stroke: .25px #272b2e;
}


h2 {
    font-family: Open Sans;
    Font-size: 18pt;
    font-weight: 700;
}

h3 {
    font-size: 14pt;
    color: #0f52ba;
}

.kids {
    color: #008080;
    margin-left: -5px;
    text-shadow: .5px .5px rgba(0, 0, 0, 0.5);
}


.teens {
    color: #8e4585;
    margin-left: -5px;
    text-shadow: .5px .5px rgba(0, 0, 0, 0.5);
}


.holidays {
    color: #0f52ba;
    margin-left: -5px;
    text-shadow: .5px .5px rgba(0, 0, 0, 0.5);
}


.food {
    color: #fb9ebc;
    margin-left: -5px;
    text-shadow: .5px .5px rgba(0, 0, 0, 0.5);
}

.frames {
    color: #272b2e;
    margin-left: -5px;
    text-shadow: .5px .5px rgba(0, 0, 0, 0.5);
}

.kidstitle {
    color: #008080;
    grid-column: 2/4;
    text-shadow: .5px .5px rgba(0, 0, 0, 0.5);
}

.teentitle {
    color: #8e4585;
    grid-column: 2/4;
    text-shadow: .5px .5px rgba(0, 0, 0, 0.5);
}

.holidaytitle {
    color: #0f52ba;
    grid-column: 2/4;
    text-shadow: .5px .5px rgba(0, 0, 0, 0.5);

}

.foodtitle {
    color: #fb9ebc;
    grid-column: 2/4;
    text-shadow: .5px .5px rgba(0, 0, 0, 0.5);

}

.frametitle {
    color: #272b2e;
    grid-column: 2/4;
    text-shadow: .5px .5px rgba(0, 0, 0, 0.5);
}

.kidsprices {
    font-weight: 300;
    font-style: italic;
    margin-top: -10px;
    color: #008080;
}

.teensprices {
    font-weight: 300;
    font-style: italic;
    margin-top: -10px;
    color: #8e4585;
}

.holidayprices {
    font-weight: 300;
    font-style: italic;
    margin-top: -10px;
    color: #0f52ba;
}

.foodprices {
    font-weight: 300;
    font-style: italic;
    margin-top: -10px;
    color: #E18EA9;
}

.frameprices {
    font-weight: 300;
    font-style: italic;
    margin-top: -10px;
    color: #272b2e;
}

.heading {
    color: #008080;
    text-shadow: .5px .5px rgba(0, 0, 0, 0.5)
}

.sidetitle {
    font-family: tangerine;
    font-size: 32pt;
    padding: 15px;
    color: #f8f8ff;
    background-image: linear-gradient(#8e4585, #008080, #0f52ba);
    width: 210px;
}

.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #f2be76;
    color: white;
}

.price {
    color: #008080;
    font-size: 18pt;
    text-align: left;
}

.smallp {
    color: #8e4585;
    text-align: center;
}

.mediump {
    color: #008080;
    text-align: center;
}

.largep {
    color: #0f52ba;
    text-align: center;
}

.name {

    font-family: Tangerine;
    font-size: 35pt;
    font-weight: 700;
    color: rgba(248, 227, 168, 0.5);
}

.firstlabel {
    font-size: 35px;
    font-family: tangerine;
}

.lastlabel {
    font-size: 35px;
    left: 245px;
    top: -120px;
    font-family: tangerine;
}

.emaillabel {
    font-size: 35px;
    top: -80px;
    font-family: tangerine;
    grid-column: 1/3;
}

.optionlabel {
    font-size: 35px;
    left: 110px;
    top: -125px;
    font-family: tangerine;
    grid-column: 1/3;
}

.messagelabel {
    font-size: 35px;
    left: 99px;
    top: -190px;
    font-family: tangerine;
    grid-column: 1/3;
}

.submit {
    background-color: #fb9ebc;
    grid-column-start: 1/3;
    padding: 20px 50px 20px 50px;
    margin-left: 405px;
    margin-bottom: 75px;
    font-size: 18pt;
}

.submit:hover {
    background-color: #f8f8ff;
    color: #fb9ebc;
    border-color: #fb9ebc;
    padding: 20px 50px 20px 50px;
    margin-left: 405px;
    margin-bottom: 75px;
    font-size: 18pt;
}

/* box models */

.logo {
    height: 50px;
    padding: 15px;
    display: fixed;
    float: left;
    margin-left: 125px;
}

header {
    background-image: linear-gradient(#008080, #0f52ba);
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.footerleft {
    color: #f8f8ff;
    text-align: left;
    text-decoration: none;
    list-style: none;
    grid-column: 1/2;
}

.footerleft a {
    margin-bottom: 20px;
}

.footerlogo {
    width: 200px;
    grid-column: 2/3;
}

.footerright {
    color: #f8f8ff;
    list-style: none;
    text-decoration: none;
    grid-column: 3/4;
}

footer p a {
    list-style: none;
    text-decoration: none;
    color: #f8f8ff;
    margin-left: 50px;
}

footer p {
    text-align: left;
    color: #f8f8ff;
    text-decoration: none;
}

.fab {
    color: #f8f8ff;
    font-size: 20px;
    margin-right: 10px;
}

.fas {
    font-size: 16pt;
    color: #f8f8ff;
}

p {
    text-align: center;
}

ul {
    list-style: none;
    margin-left: -15px;
    margin-top: -20px;
    text-decoration: none;
}

li a {
    text-decoration: none;
}

article {
    margin-bottom: 40px;
}

#pinatas img {
    width: 210px;
    border-radius: 25px;
    max-width: 100%;
}

button {
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    border-style: none;
}

button:hover {
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
}

.cart {
    background-color: #008080;
    color: #f8f8ff;
    text-align: center;
    width: 240px;
    height: 65px;
    font-size: 18pt;
}

.cart:hover {
    background-color: #f8f8ff;
    color: #008080;
    border-style: solid;
    border-width: 2px;
    border-color: #008080;
}

.kidsbtn {
    background-color: #008080;
    color: #f8f8ff;
    margin-bottom: 40px;
}

.kidsbtn:hover {
    background-color: #f8f8ff;
    color: #008080;
    border-color: #008080;
}

.teensbtn {
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    background-color: #8e4585;
    color: #f8f8ff;
    margin-bottom: 40px;
}

.teensbtn:hover {
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    background-color: #f8f8ff;
    color: #8e4585;
    border-color: #8e4585;
}

.holidaysbtn {
    background-color: #0f52ba;
    color: #f8f8ff;
    margin-bottom: 40px;
}

.holidaysbtn:hover {
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    background-color: #f8f8ff;
    color: #0f52ba;
    border-color: #0f52ba;
}

.foodbtn {
    background-color: #fb9ebc;
    color: #f8f8ff;
    margin-bottom: 40px;
}

.foodbtn:hover {
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    background-color: #f8f8ff;
    color: #fb9ebc;
    border-color: #fb9ebc;
}

.framebtn {
    background-color: #272b2e;
    color: #f8f8ff;
    margin-bottom: 40px;
}

.framebtn:hover {
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    background-color: #f8f8ff;
    color: #272b2e;
    border-color: #272b2e;
}

#product {
    margin-top: 125px;
}

.rating {
    width: 10%;
    margin-right: 20px;
}

#reviews {
    clear: both;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.customer p {
    box-sizing: border-box;
    text-align: left;
    align-items: left;
    width: 650px;
    margin-top: -10px;
}

#writereview {
    display: flex;
    float: right;
    font-weight: 700;
    text-align: center;
}

input {
    margin-right: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: #272b2e;
    border-radius: 20px;
    width: 660px;
    height: 270px;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 240px;
    background-color: #fef8e8;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    padding: 16px;
    text-decoration: none;
}

#About {
    margin-bottom: 55px;
}

.aboutfloatleft {
    display: flex;
    float: left;
    margin-bottom: 55px;
    margin-right: 25px;
    border-radius: 25px;

}

.prices {
    clear: both;
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
}

.small img {
    width: 300px;
    text-align: center;
    margin-left: 125px;
    margin-top: 15px;
    margin-bottom: 50px;
    border-radius: 25px;
}

.medium img {
    width: 300px;
    text-align: center;
    margin-left: 125px;
    margin-top: 15px;
    margin-bottom: 50px;
    border-radius: 25px;
}

.large img {
    width: 300px;
    text-align: center;
    margin-left: 125px;
    margin-top: 15px;
    margin-bottom: 50px;
    border-radius: 25px;
}

.pands {
    clear: both;
    text-align: left;
    color: #f2be76;
}

.abouttitle {
    clear: both;
    text-align: left;
    color: #fb9ebc;
}

.aboutp {
    font-size: 18pt;
    text-align: left;
}

.chat h1 {
    color: #8e4585;
    margin: auto;
    padding-left: 250px;
    padding-bottom: 10px;
}

.general h1 {
    color: #fb9ebc;
    margin: auto;
    padding-left: 250px;
    padding-bottom: 10px;

}

.custom h1 {
    color: #008080;
    margin: auto;
    padding-left: 250px;
    padding-bottom: 10px;
}

.para1 p {
    text-align: left;
    margin-left: 350px;
}

.para1 {
    padding-bottom: 10px;
}

.para2 p {
    text-align: left;
    margin-left: 350px;
    padding-bottom: 10px;
}

.para2 {
    padding-bottom: 10px;
}

.para3 p {
    text-align: left;
    margin-left: 350px;
}

.para3 {
    padding-bottom: 30px;
}

.contactus {
    color: #fb9ebc;
    margin: auto;
    padding-left: 40px;
    padding-top: 10px;

}

.main {
    background-color: rgba(248, 227, 168, 0.5);
    width: 1000px;
    margin: auto;
}

.message {
    left: 10px;
    top: -80px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    height: 170px;
    width: 400px;
}


/* layout */

nav {
    float: right;
}

nav a {
    display: inline-block;
    position: relative;
    vertical-align: top;
    text-align: left;
    padding: 30px 30px 10px 10px;
    color: #f8f8ff;
    text-decoration: none;
    font-family: Open Sans;
    font-size: 12pt;
    font-weight: 700;
}

#splash {
    background-image: url("Images/cropped-pinata.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
}

#homesplash {
    background-image: url("Home/banner1.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 75px;
}


#contactsplash {
    background-image: url("contact 2a.png");
    background-size: 100%;
    height: 400px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 75px;
}

footer {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    background-color: #008080;
    height: 225px;
    color: #FFFFFF;
    align-items: center;
    justify-items: center;
    margin: auto;
    overflow: auto;
    width: 100%;
    font-size: 12pt;
    position: relative;
    left: 0;
}

#pinatas {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.kidpinatas {
    display: grid;
    text-align: center;
}

.item1,
.item5,
.item9,
.item13 {
    box-sizing: border-box;
    Grid-column: 2/3;
    text-align: center;
}

.item2,
.item6,
.item10,
.item14 {
    box-sizing: border-box;
    Grid-column: 3/4;
    text-align: center;
}

.item3,
.item7,
.item11,
.item15 {
    box-sizing: border-box;
    Grid-column: 4/5;
    text-align: center;
}

.item4,
.item8,
.item12,
.item16 {
    box-sizing: border-box;
    Grid-column: 5/6;
    text-align: center;
}

.productimg {
    display: flex;
    float: left;
    width: 650px;
    border-radius: 15%;
    text-align: center;
    margin-right: 50px;
    margin-bottom: 50px;
    align-items: center;
}

.description p {
    text-align: left;
}

.form {
    display: grid;
    grid-template-columns: 50% 50%;
}

.name {
    margin-left: 50px;
    margin-top: 30px;
    width: 125px;
    font-size: 30px;
    font-weight: 700;
}

#firstname {
    box-sizing: border-box;
    float: right;
    grid-column: 1/2;
    margin-left: 250px;
    margin-bottom: 40px;
}

.firstname {
    left: -122px;
    top: -35px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    height: 40%;
    width: 150px;

}

#lastname {
    box-sizing: border-box;
    float: left;
    grid-column: 2/3;
    margin-bottom: 40px;
}

.lastname {
    left: 120px;
    top: -80px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    height: 40%;
    width: 150px;
}

.lastlabel .lastname {
    grid-column: 2/3
}

#email {
    box-sizing: border-box;
    grid-column: 1/3;
    margin-left: 250px;
    margin-bottom: 40px;
}

.email {
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    height: 35px;
    width: 400px;
    grid-column: 1/3;
}


#reason {
    box-sizing: border-box;
    grid-column: 1/3;
    margin-left: 250px;
    margin-bottom: 40px;
}

.option {
    left: -45px;
    top: -90px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    height: 39px;
    width: 450px;
    background-color: #FFFFFF;
    border-color: black;
    grid-column: 1/3;
}

#message {
    box-sizing: border-box;
    grid-column: 1/3;
    margin-left: 250px;
    margin-bottom: 60px;
    grid-column: 1/ 3;
}